
html, body {
    height: 100%;
}

#login .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #606266;
}

#login .form .login input, #login .form .reg input {
    height: 60px;
    border-radius: 15px;
}

.el-message-box__status.el-icon-warning {
    color: #F56C6C;
}

#yeya .table .el-button.el-button--text span {
    color: #c2c1c1;
}

#yeya .table .el-button.el-button--text .el-icon-delete {
    color: #F56C6C;
}

#yeya .table .el-button.el-button--text .el-icon-edit {
    color: #6cbcff;
}

#yeya .table .el-button.el-button--text .el-icon-user-solid {
    color: #fcb651;
}

#visual .data-wrapper {
    background-color: rgba(0, 15, 36, .2);
    border: 1px solid #1b3a57;
    width: 100%;
    /* height: calc((100% / 4) - 55px); */
}

.table .operation {
    display: flex;
    justify-content: space-around;
}

.el-dialog__footer {
    text-align: center;
}


#monitoring .el-dialog .el-dialog__header {
    padding: 0;
}

#monitoring .el-dialog .el-dialog__body {
    padding: 0;

}

#reduction .swiper-wrapper {
    display: flex;
    z-index: 10;
}

#monitoring .monitoring-list .vjs-big-play-button {
    font-size: 12px;
}

#tunnel .search .el-input{
    border: 1px solid #2f679b;
    border-radius: 17px;
}
#tunnel .search .el-input__inner {
    height: 35px;
    border-radius: 17px;
    border: none;
    background-color: rgba(0, 15, 36, 0.7);
    color: #FFFFFF;
    font-size: 16px;
    display: inline;
}
#tunnel .search .el-input__inner:hover,
#tunnel .search .el-input__inner:focus{
    border: none;
}
#tunnel .search .el-input i{
    color: #09C6F2;
    font-size: 20px;
    line-height: 35px;
    cursor: pointer;
}
#tunnel .search .dropdownPopper{
    width: 290px!important;
}
#tunnel .search .dropdownPopper{
    background-color: rgba(32,153,255, 0.7);
    border: none;
}
#tunnel .search .dropdownPopper li{
    color: #FFFFFF;
    font-size: 16px;
}
#tunnel .search .dropdownPopper li:hover{
    background-color: transparent;
}
#tunnel .search .popper__arrow{
    border-bottom:none;
}
#tunnel .search .popper__arrow:after{
    border-bottom-color: rgba(32,153,255, 0.7);
    top: 0.5px;
}

#tunnel .rightSidebar #scraper .data-wrapper {
    background-color: rgba(0, 15, 36, .5);
    border: 1px solid #2f679b;
}

#tunnel .el-scrollbar__bar {
    z-index: 1000;
}
.el-form-item__label{
    min-width: 70PX;
}
